<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="descripcion.css">
    <title>Document</title>
</head>
<body>
    <h1>El titulo de la pagina</h1>
    <p>Esta es la pagina A</p>

    <button type="button" class="descripcion">Para ir a descripcion</button>
    <button type="button" class="enlaces">Para ir a los enlaces</button>

        <script src="/scripts/titulo.js"></script>


</body>
</html>